.proj-tasks-outer {
  background-color: #f6f8f9;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  height: 100%;
  border-top: 1px solid #80808042;
}

.proj-tasks-container {
  background: white;
  border: 1px solid #80808042;
  height: 100%;
  padding-top: 3px;
}

.task-name {
  width: 100%;
  border: none;
  font-size: 14px;
  margin-left: 10px;
}

.new-task-form {
  width: 100%;
}

.new-task-input {
  width: 100%;
  height: 100%;
  border: none;
}

.proj-tasks-ul {
  list-style-type: none;
  padding-left: 15px;
  padding-right: 15px;
}


.proj-tasks-ul li {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: center;
  border-bottom: 1px solid #cadae2;
  position: relative;
}
