.nav-outer {
  min-height: 800px;
  height: 100%;
  min-width: 245px;
  max-width: 245px;
  background-color: #161b27;
  color: white;
  display: flex;
  flex-direction: column;
}

.nav-bar-contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}
.nav-sections div a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
}
.nav-sections div a:hover {
  color: grey;
}
.nav-projects-ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
}
.nav-projects-ul li a:hover {
  color: grey;
}
.nav-projects ul {
  list-style-type: none;
  padding: 0px;
}

.nav-header {
  padding: 20px;
  font-size: 20px;
}

.nav-sections {
  min-height: 150px;
}


.nav-footer {
  text-align: center;
  flex-shrink: 0;
}
