.nav-outer {
  min-height: 800px;
  height: 100%;
  min-width: 245px;
  max-width: 245px;
  background-color: #161b27;
  color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.nav-bar-contents {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* padding: 20px; */
}
.nav-sections div a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
  padding-left: 30px;
  font-size: 14px;
  position: relative;
  padding-bottom: 5px;
  padding-top: 5px;
}
.home-icon {
  height: 20px;
  z-index: 20;
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  float: left;
}
.task-icon {
  height: 20px;
  z-index: 20;
  margin-top: 5px;
  margin-left: 5px;
  position: absolute;
  float: left;
  opacity: .5;
}
.nav-sections div a:hover {
  background-color: #3c404b80;
}
.nav-projects-ul li {
  display: flex;
  flex-direction: row;
  position: relative;
}
.nav-projects-ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
  padding-left: 20px;
  font-size: 14px;
  position: absolute;
}
.proj-selected {
  background-color: #3b404a !important;
}
.nav-projects-ul li a:hover {
  background-color: #3c404b80;
}



.nav-projects ul {
  list-style-type: none;
  padding: 10px;
}

.nav-projects ul div {
  margin-bottom: 10px;
}

.nav-projects ul li::before {
  content: "■";
  color: pink;
}

.nav-header {
  padding: 20px;
  font-size: 20px;
}

.nav-sections {
  min-height: 150px;
}


.nav-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 30px;
}
.nav-footer a:hover img {
  background-color: #3c404b;
  border-radius: 4px;
}
